
/* default */

	.fl-hdiv
		{
		background: #f9f9f9 url(images/fhbg.gif) repeat-x bottom;
		border-bottom: 1px solid #ccc;

		-webkit-box-shadow: #bbb 0px 0px 5px;
		-moz-box-shadow: #bbb 0px 0px 5px;
		box-shadow: #bbb 0px 0px 5px;

		}

		.fl-th-div
			{
			text-shadow: 0px 1px 0px #fff;
			}

			
			.fl-th:hover .fl-th-div
				{
				border-bottom: 1px solid orange;
				padding-bottom: 4px;
				}
				

			.fl-tr:hover .fl-td, .fl-tr-hover .fl-td
				{
				background: #eee;
				}

/* with pretty border class */

	.fl-grid-pb
		{
		background: #eee;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		}

	.fl-grid-pb .fl-grid-inner
		{
		padding: 5px;
		border: 1px solid #fff;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		}

		


	.fl-grid-pb .fl-hbdiv
		{
		width: auto;
		border: 1px solid #ccc;
		margin-left: -1px;
		}	



/* fl-menu */

	.fl-coltog
		{
		background: #f9f9f9 url(images/fhbg.gif) repeat-x bottom;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid orange;
		}

/* fl-fw */

	.fl-grid-fw .fl-hdiv .fl-table
		{
		border-right: 0px solid #dedede;
		}
		
/* fl-fp */

	.fl-fpane-left .fl-table
		{
		border-right: 0px solid #ccc;
		}
		

/* fl-colmover */

.fl-colmove
	{
	text-shadow: 0px 1px 0px #fff;
	background: #f9f9f9 url(images/fhbg.gif) repeat-x bottom;
	}


/* fl-titlebar */
	
.fl-title
	{
	background: #eee url(images/tbg.png) repeat-x;
	}
	
	.fl-title .fl-button
		{
		background: #eee url(images/tbg.png) repeat-x left -5px;
		}
	
	.fl-grid-pb .fl-title
		{
		border: 1px solid #bbb;
		border-bottom: 0px;
		margin-left: -1px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		}	
			
