
	.fl-coltog
		{
		background: #f9f9f9 url(images/fhbg.gif) repeat-x bottom;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid orange;
		}

	.fl-grid
		{
		background: #eee;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

		}

	.fl-grid-inner
		{
		padding: 5px;
		border: 1px solid #fff;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

		}
		
		.fl-hbdiv
			{
			border: 1px solid #ccc;
			margin-left: -1px;
			}

	.fl-hdiv
		{
		background: #f9f9f9 url(images/fhbg.gif) repeat-x bottom;
		border-bottom: 1px solid #ccc;

		-webkit-box-shadow: #ccc 0px 0px 5px;
		-moz-box-shadow: #ccc 0px 0px 5px;
		box-shadow: #ccc 0px 0px 5px;

		}

	.fl-grid-fw .fl-hdiv .fl-table
		{
		border-right: 0px solid #dedede;
		}

	.fl-fpane-left .fl-table
		{
		border-right: 0px solid #ccc;
		}
		
		.fl-fpane-left
			{
/* 			border-right: 1px solid #ccc !important; */
			}
		
		.fl-th-div
			{
			text-shadow: 0px 1px 0px #fff;
/*
			padding-bottom: 5px;
			border-bottom: 1px solid #ccc;
*/
			}

			
			.fl-th:hover .fl-th-div
				{
				border-bottom: 1px solid orange;
				padding-bottom: 4px;
				}
				

			.fl-tr:hover .fl-td, .fl-tr-hover .fl-td
				{
				background: #eee;
				
/*
			 	-moz-box-shadow:inset 0 2px 5px #ddd;
			   	-webkit-box-shadow:inset 0 2px 5px #ddd;
			   	box-shadow:inset 0 2px 5px #ddd;				
*/
				
				}

.fl-colmove
	{
	text-shadow: 0px 1px 0px #fff;
	background: #f9f9f9 url(images/fhbg.gif) repeat-x bottom;
	}

/*
		.fl-td
			{
			padding: 0px;

			border-left: 1px solid #ccc;
			border-right: 1px solid #fff;

			}
*/

			
