
/* css reset */
.fl-grid
,.fl-table
,.fl-th,.fl-td, .fl-colmove
,.fl-menu-table
,.fl-menu-td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
	font-size: 11px;
	letter-spacing: normal;
	line-height: normal;
	background: none;
	}

.fl-grid
	{
	border: 1px solid #bbb;
	position: relative;
	width: 100%;
	background: #fff;
	color: #333;

	}
	
	.fl-hbdiv
		{

		position: relative;
		width: 100%;
		overflow: hidden;
		background: #fff;
		}

		.fl-fpane-left
			{
			position: absolute;
			top: 0px;
			left: 0px;
			border-right: 1px solid #ccc;
			}

		
	.fl-hdiv
		{
		width: 100%;
		overflow: hidden;
		position: relative;
		border-bottom: 2px solid #000;
		}
		
		.fl-hdiv-inner
			{
			padding-right: 40px;
			float: left;
			}
			
	.fl-bdiv
		{
		width: 100%;
		overflow: auto;
		position: relative;
		}
		
		.fl-bdiv-inner
			{
			float: left;
			padding-bottom: 0px;
			}

		.fl-fpane-left .fl-bdiv
			{
			overflow: hidden;
			}	
			
		.fl-fpane-left .fl-bdiv-inner
			{
			padding-bottom: 40px;
			}
		

.fl-table
	{
	table-layout: fixed;
	width: 0;
	margin-top: -1px;
	margin-left: -1px;
	border-right: 1px solid #ccc;
	border-spacing: 0;
	}

	.fl-td, .fl-th
		{
		vertical-align: top;
		text-align: left;
		padding: 0px;
		position: relative;
		border-left: 1px solid #ccc;
		padding-right: 1px;
		border-top: 1px solid #ddd;
		}
		
		.fl-th
			{
			cursor: default;
			}

		
		.fl-td
			{
			border-left: 0px;
			border-right: 0px;
			padding: 0px 1px;
			}
			
			.fl-tr:hover .fl-td, .fl-tr-hover .fl-td
				{
				background: #eee;
				}
			
			.fl-th-con
				{
				position: relative;
				overflow: visible;
				height: 0px;
				}
		
			.fl-td-div, .fl-th-div
				{
				white-space: nowrap;
				overflow: hidden;
				padding: 5px 10px;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				}

.fl-icon
	{
	width: 16px;
	height: 16px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	position: relative;
	}


