
/* css reset */
.fl-grid
,.fl-table
,.fl-th,.fl-td, .fl-colmove
,.fl-menu-table
,.fl-menu-td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
	font-size: 11px;
	letter-spacing: normal;
	line-height: normal;
	background: none;
	}

.fl-grid
	{
	border: 1px solid #bbb;
	position: relative;
	width: 100%;
	background: #fff;
	color: #333;

	}
	
	.fl-hbdiv
		{

		position: relative;
		width: 100%;
		overflow: hidden;
		background: #fff;
		}

		.fl-fpane-left
			{
			position: absolute;
			top: 0px;
			left: 0px;
			border-right: 1px solid #ccc;
			}

		
	.fl-hdiv
		{
		width: 100%;
		overflow: hidden;
		position: relative;
		border-bottom: 2px solid #000;
		}
		
		.fl-hdiv-inner
			{
			padding-right: 40px;
			float: left;
			}
			
	.fl-bdiv
		{
		width: 100%;
		overflow: auto;
		position: relative;
		}
		
		.fl-bdiv-inner
			{
			float: left;
			padding-bottom: 0px;
			}

		.fl-fpane-left .fl-bdiv
			{
			overflow: hidden;
			}	
			
		.fl-fpane-left .fl-bdiv-inner
			{
			padding-bottom: 40px;
			}
		

.fl-table
	{
	table-layout: fixed;
	width: 0;
	margin-top: -1px;
	margin-left: -1px;
	border-right: 1px solid #ccc;
	}

	.fl-td, .fl-th
		{
		vertical-align: top;
		text-align: left;
		padding: 0px;
		position: relative;
		border-left: 1px solid #ccc;
		padding-right: 1px;
		border-top: 1px solid #ddd;
		}
		
		.fl-th
			{
			cursor: default;
			}

		
		.fl-td
			{
			border-left: 0px;
			border-right: 0px;
			padding: 0px 1px;
			}
			
			.fl-tr:hover .fl-td, .fl-tr-hover .fl-td
				{
				background: #eee;
				}
			
			.fl-th-con
				{
				position: relative;
				overflow: visible;
				height: 0px;
				}
		
			.fl-coldrag
				{
				height: 300px;
				width: 10px;
				position: absolute;
				bottom: 0px;
				right: -4px;
				cursor: col-resize;
				z-index: 6;
				}
				
			.fl-coltog
				{
				display: none;
				background: #fff;
				height: 300px;
				width: 15px;
				position: absolute;
				bottom: 0px;
				right: 0px;
				z-index: 4;
				}
				
				.fl-th:hover .fl-coltog
					{
					display: block;
					}
				
				.fl-coltogged
					{
					display: block;
					}
				
				.fl-coltog-inner
					{
					position: absolute;
					width: 16px;
					height: 16px;
					bottom: 2px;
					left: 0px;
					background: url(images/ddn.png) no-repeat center;
					}
				
			.fl-td-div, .fl-th-div
				{
				white-space: nowrap;
				overflow: hidden;
				padding: 5px;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				}

.fl-icon
	{
	width: 16px;
	height: 16px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	position: relative;
	}

.fl-colguide
	{
	position: absolute;
	background: orange;
	display: none;
	height: 3000px;
	width: 3px;
	z-index: 10;
	}
	
.fl-colresizing
	{
	cursor: col-resize;
	}
	
.fl-colmoving
	{
	cursor: move;
	}	
	
.fl-th-dragged
	{
	background: #fff;
	}
	
	.fl-th-dragged .fl-th-div
		{
		visibility: hidden;
		}	

		.fl-th-dragged:hover .fl-coltog
			{
			display: none;
			}

	
.fl-colmove
	{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	padding: 5px 10px;
	margin: 10px 0px;
	border: 1px solid #bbb;
	background: #fff;
	white-space: nowrap;
	z-index: 10;
	font-weight: bold;

	-webkit-box-shadow: #999 0px 5px 20px;
	-moz-box-shadow: #999 0px 5px 20px;
	box-shadow: #999 0px 5px 20px;

	}		

.fl-colmove-allowed
	{
	border: 1px solid #42b549;
	}
	
.fl-colmove-not-allowed
	{
	border: 1px solid red;	
	}		
