
	.fl-fpane-left
		{
		z-index: 3;
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		border-right: 1px solid #ccc;
		}

		.fl-fpane-left .fl-bdiv
			{
			overflow: hidden;
			}	
			
		.fl-fpane-left .fl-bdiv-inner
			{
			/* padding-bottom: 40px; */
			}


	.fl-fpane-left .fl-table
		{
		border-right: 0;
		}
		
		.fl-fpane-left .fl-hdiv
			{
			border-right: 1px solid #ccc;
			}

			.fl-fpane-left .fl-td-div, .fl-fpane-left .fl-th-div
			,.fl-fpane-right .fl-td-div, .fl-fpane-right .fl-th-div
				{
				white-space: nowrap;
				}
		
	