	
.fl-header, .fl-footer
	{
	width: 100%;
	overflow: hidden;
	position: relative;
	}	

	.fl-header
		{
		border-bottom: 1px solid #ccc;
		}

	.fl-footer
		{
		border-top: 1px solid #ccc;
		}

		.fl-toolbar
			{
			float: left;
			white-space: nowrap;
			overflow: hidden;
			width: 100%;
			margin-left: -1px;
			position: relative;
			}
			
			.fl-toolbar-inner
				{
				border-left: 1px solid #bbb;
				padding: 5px;
				}
			
.fl-button-label
	{
	width: auto;
	white-space: nowrap;
	height: 12px;
	line-height: 12px;
	padding: 2px 5px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	}

.fl-button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

	.fl-button
		{
		padding: 4px;
		background: none;
		border: 0;
		margin: 1px 2px;
		overflow: visible;
		width: auto;
		cursor: pointer;
		vertical-align: middle;
		position: relative;
		}
		
		.fl-button:hover
			{
			border: 1px solid #888;
			padding: 3px;
			}

			/* ie 7 hacks */
			*:first-child+html .fl-button 
				{
				padding-bottom: 0px;
				}

				*:first-child+html .fl-button:hover 
					{
					padding: 2px;
					padding-bottom: 0px;
					}


/* icon classing consider moving */
			
			.fl-button-first .fl-icon
				{
				background: url(images/first.png) no-repeat;
				}
				
			.fl-button-next .fl-icon
				{
				background: url(images/next.png) no-repeat;
				}	

			.fl-button-prev .fl-icon
				{
				background: url(images/prev.png) no-repeat;
				}
				
			.fl-button-last .fl-icon
				{
				background: url(images/last.png) no-repeat;
				}	

			.fl-button-reload .fl-icon
				{
				background: url(images/reload.png) no-repeat;
				}	


	
