/* fl-menu module */

			.fl-coltog
				{
				display: none;
				background: #fff;
				height: 300px;
				width: 15px;
				position: absolute;
				bottom: 0px;
				right: 0px;
				z-index: 4;
				}
				
				.fl-th:hover .fl-coltog
					{
					display: block;
					}
				
				.fl-coltogged
					{
					display: block;
					}
				
				.fl-coltog-inner
					{
					position: absolute;
					width: 16px;
					height: 16px;
					bottom: 2px;
					left: 0px;
					background: url(images/ddn.png) no-repeat center;
					}


.fl-menu
	{
	border: 1px solid #ccc;
	position: absolute;
	background: #fff;
	z-index: 6;
	top: 0px;
	left: 0px;
	color: #111;
	display: none;

	-webkit-box-shadow: #999 0px 5px 20px;
	-moz-box-shadow: #999 0px 5px 20px;
	box-shadow: #999 0px 5px 20px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 0px;	

	
	}
	
	.fl-menu-table
		{
		border: 0px solid #fff;
		width: auto;
		border-spacing: 0;
		}
	
	.fl-menu-td, .fl-menu-tr:hover .fl-menu-td .fl-menu-tr .fl-menu-td
		{
		padding: 3px 7px;
		cursor: default;
		background: none;
		font-size: 13px;
		color: #111;
		}
		
		.fl-submenu
			{
			position: relative;
			display: block;
			}
			
			.fl-menu-tr:hover .fl-menu-td .fl-menu
				{
				display: block;
				}
		
		.fl-menu-col1,.fl-menu-col3
			{
			width: 16px;
			}
		
		.fl-menu-br .fl-menu-td
			{
			padding: 3px 0px;
			}
		
		.fl-menu-br-div
			{
			height: 0px;
			overflow: hidden;
			border-top: 1px solid #eee;
			}

		.fl-menu-tr:hover .fl-menu-td, .fl-menu-tr:hover .fl-menu-td .fl-menu-tr:hover .fl-menu-td
			{
			background: #3100fd;
			color: #fff;
			}
			
			
		
		
		.fl-label
			{
			white-space: nowrap;
			}
			
			.fl-label-disabled
				{
				color: #bbb;
				}

.fl-submenu
	{
	width: 16px;
	height: 16px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	position: relative;
	}
	

	.fl-submenu .fl-menu
		{
		top: -10px;
		}
